html {
    padding: 20px;
    background-image: url(Assets/Global-Finance.png);
    background-position: cover;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#icone-conversor {
    width: 200px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.icone {
    margin-top: 10px;
    width: 100px;
    height: auto;
}

#valor-total {
    width: 120px;
    height: 46px;
    text-align: center;
    border-radius: 10px;
}

#moedas {
    height: 50px;
    text-align: center;
    border-radius: 10px;
}

.cabeçalho {
    text-align: center;
    align-items: center;
    font-size: 22px;
}

.conversão {
    display: flex;
    justify-content: space-around;
}

.dinheiro {
    width: 180px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    font-size: 12px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.valor {
    font-size: 22px;
    font-weight: 800;
    color: blue;
}